@page "/jobcategories/details"
@using Microsoft.EntityFrameworkCore
@using FullStackProject.Domain
@inject IDbContextFactory<JobBoard.Data.JobBoardContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>JobCategory</h2>
    <hr />
    @if (jobcategory is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CategoryID</dt>
            <dd class="col-sm-10">@jobcategory.CategoryID</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@jobcategory.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@jobcategory.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@jobcategory.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@jobcategory.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/jobcategories/edit?id={jobcategory.Id}")">Edit</a> |
            <a href="@($"/jobcategories")">Back to List</a>
        </div>
    }
</div>

@code {
    private JobCategory? jobcategory;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        jobcategory = await context.JobCategory.FirstOrDefaultAsync(m => m.Id == Id);

        if (jobcategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
